.custom-card{
    width: 18rem;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.custom-card .card-image{
    height: 24rem;
}

.name-price-container{
    display: flex;
    justify-content: space-between;
}

.edit-buttons{
    width: 46%;
}